* {
  box-sizing: border-box;
  border: 1px solid blue;
}

body {
  background-color: lavender;
}

header,
nav,
main,
footer {
  width: 900px;
  margin: 0 auto;
}

header {
  background-color: white;
}
nav {
  background-color: #222222;
  position: sticky;
  top: 0;
}
main {
  background-color: whitesmoke;
}
footer {
  color: white;
  background-color: gray;
}

nav ul {
  display: flex;
  list-style: none;
  padding-left: 0;
}
nav ul li {
  flex: 1;
  padding: 1em;
}
nav ul li a {
  color: white;
  text-decoration: none;
}

main div {
  text-align: center;
}

.photo {
  width: 200px;
  margin: 20px;
}
.photo:hover {
  transform: scale(1.1);
}
.photo:nth-of-type(5) {
  position: fixed;
  width: 100px;
  height: 100px;
  right: 10px;
  bottom: 10px;
  border-radius: 50%;
  animation: 5s linear infinite rotation; /* 「rotation」を5秒間で線形移動して無限回数くりかえす */
}

@keyframes rotation { /* 「rotation」の定義。0度回転から360回転まで */
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}






